.content {
  margin: 30px 0;

  .title {
    font-size: 15px;
    text-transform: uppercase;

    span {
      display: inline-block;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        border-bottom: 2px solid #dfbe7f;
        width: 100%;
        transform: translateX(-50%);
        bottom: -10px;
        left: 50%;
      }

    }
  }
}
