<div class="control">
  <div class="select">
    <select [ngModel]="filters.take" (ngModelChange)="updateTake($event)">
      <option selected value="10">10 Produtos por página</option>
      <option value="20">20 Produtos por página</option>
      <option value="30">30 Produtos por página</option>
      <option value="40">40 Produtos por página</option>
      <option value="50">50 Produtos por página</option>
    </select>
  </div>
</div>
