<section class="hero is-bold">
  <div class="hero-head">
    <div class="columns">
      <div class="column is-four-fifths">
        <nav class="navbar is-transparent">
          <div class="navbar-brand">
            <a class="navbar-item" href="/dashboard">
              <img src="/assets/logo.svg" width="130">
            </a>
          </div>
        </nav>
      </div>
      <div class="column is-one-fifths">
        <search-input></search-input>
      </div>
    </div>
  </div>
</section>
