<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column is-two-fifths">
        <img *ngFor="let image of product.images" src="{{image.path}}">
      </div>
      <div class="column">
        <p class="product-title" >{{product.name}}</p>
        <p class="product-category">
          <span *ngFor="let category of product.categories">{{category.name}} |</span>
        </p>
      </div>
      <div class="column">
          <p>
            <span class="original-price">R${{product.price | number : '1.2-2'}}</span>
            por
            <span class="final-price"> R${{product.promotional_price | number : '1.2-2' }}</span>
          </p>
        </div>
    </div>
  </div>
</div>
