.card-content {
  height: 100px;
  overflow: hidden;

  .column {
    padding: 0;
  }

  p {
    color: #777777;

    &.product-title {
      color: #292929;
    }

    .original-price {
      text-decoration: line-through;
    }
    .final-price {
      color: #333333;
      font-weight: bolder;
    }
  }

  img {
    max-height: 80px;
    width: auto;
    margin-right: 3px;
  }
}
