.search-title {
  background-color: #ecebf0;

  padding: 30px;
  width: 100%;

  border-bottom: 2px #dadae1 solid;

  h1 {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color: #433e66;
  }

}
