<div class="control has-icons-left has-icons-right">
  <input class="input is-small" [ngModel]="filters.term" (ngModelChange)="updateTerm($event)" placeholder="Pesquisar">
  <span class="icon is-left">
    <i class="fa fa-search"></i>
  </span>
  <span class="icon is-right">
    <i class="fa fa-circle-o-notch"></i>
  </span>
</div>
