<div class="container">
  <search-summary></search-summary>
  <section class="products-container">
    <product [product]="product" *ngFor="let product of service.products | async"></product>
    <br><br>
    <div class="columns">
      <div class="column is-one-quarter">
        <offset-selector class="is-pulled-left"></offset-selector>
      </div>
      <div class="column is-pulled-right">
        <pagination class="is-pulled-right"></pagination>
      </div>
    </div>
  </section>
</div>
